**/.DS_Store

home/.config/jesseduffield/lazygit/
home/.config/jesseduffield/lazydocker/development.log
home/.config/karabiner/automatic_backups/
home/.config/zsh/.zcompdump
home/.config/zsh/.zcompcache/
home/.config/nvim/.netrwhist
home/.config/nvim/spell/

extras/osx-config/
